extends layout

block content
  h2= title

  h3= category.name 
  p= category.description 
  br
  ul(class='list')
    li(class='list-header')
      div ITEMS
    each item in category_items
      li(class='list-item')
        div(class='btn')
          a(href=item.url)= item.name

  br
  div(class='crud-btns')
    button(style='width: 140px;')
      a(href=category.url + '/delete') Delete Category 
    button(style='width: 140px;')
      a(href=category.url + '/update') Update Category