extends layout

block content
  h2= title
  div(style='display: flex; gap: 10px;')
    h3= item.name
    div(class='btn')
      a(href=item.category.url)= item.category.name

  if  !(item.convertedBuffer === null)
    br
    img(class='display-image' src=item.convertedBuffer)

  br
  p #[strong Price:] #{item.price}
  strong Sizes in stock:
  p #[strong S:] #{item.sizes_in_stock.s}
  p #[strong M:] #{item.sizes_in_stock.m}
  p #[strong L:] #{item.sizes_in_stock.l}
  p #[strong XL:] #{item.sizes_in_stock.xl}
  br
  p= item.description
  br
  div(class='crud-btns')
    button(style='width: 80px;')
      a(href=item.url + '/delete') Delete Item
    button(style='width: 80px;')
      a(href=item.url + '/update') Update Item